<?xml version="1.0"?>
<!--
The MIT License

Copyright (c) 2019 Giovanni di Dio Bruno https://gbr1.github.io

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<launch>
    <!-- t265 option -->
    <include file="$(find realsense2_camera)/launch/rs_t265.launch">
        <arg name="camera"          value="camera_t265" />
        <arg name="tf_prefix"       value="camera_link" /> <!-- need to be changed and added new frame in urdf or just publish static transform-->
        <arg name="enable_fisheye1" value="false" />
        <arg name="enable_fisheye2" value="false" />
        <arg name="publish_odom_tf" value="false" />
    </include>

    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
        <arg name="time" value="40" />
        <arg name="pkg" value="realsense2_camera" />
        <arg name="file" value="rs_camera.launch" />
        <arg name="value" value="align_depth:=true" />
        <arg name="node_name" value="d435_node" />
  </include> 
    
    <!-- start realsense node -->
    <!-->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/>-->
        <!--<arg name="enable_pointcloud" value="true"/>-->
   <!--> </include>-->

    <!-- start imu -->
    <arg name="bosch_config_file" default="$(find erwhi_bringup)/config/imu_bosch.yaml"/> 
    <node pkg="bosch_imu_driver" type="bosch_imu_node.py" name="bosch_imu_node" output="screen">
        <rosparam file="$(arg bosch_config_file)" command="load"/>
    </node>

    

</launch>